nav {
  background-color: #023047;
  padding: .7rem 2rem;
  overflow-x: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  /* z-index: 1000; Adjust z-index as needed */
}

  .nav-center {
    max-width: 1200px;
    position: relative;
    margin: 0 auto;
    padding: .7rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  nav h3 {
    color: #219ebc;
    font-size: 2rem;
    
  }
  .nav-container {
    display: block;
    
  }
  nav svg {
    width: 2rem;
    fill: #fb8500;
  }
  .amount-container {
    position: absolute;
    top: 0;
    right: 0;
    /* top: -0.75rem;
    right: -0.75rem; */
    width: 1.75rem;
    height: 1.75rem;
    border-radius: 50%;
    background: red;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .total-amount {
    color: #fff;
    margin-bottom: 0;
    font-size: 1.25rem;
    font-weight: 400;
    margin-top: -3px;
    margin-left: -3px;
  }